<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>


<% @students.each do |student_instance|%>
<p><%="#{student_instance.first_name} #{student_instance.last_name}"%></p>
<%end %>

